body {
    font-family: verdana;
    font-size: 140%;
}
header{
    background-color: rgb(125,125,125);
    padding: 2em;
}
footer {
    background-color: rgb(200,200,200);
    padding: 1em;
    font-size: .8em;
    text-align: center;
}
nav ul {
    display: flex;
    list-style: none;;
}
nav li {
    margin-left: 2em;
    border-radius : 1em;
    padding: 1em;
    border: 1px solid black;
}